main{
    min-width: 700px;
    display: flex;
    justify-content: space-between;
}
#calendarView.container{
    max-width: 250px;
}
.firstAction{
    margin: 20px 0 0 0;
}
@media screen and (max-width: 500px) {
    main {
        display: inline-block;
    }
}