<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/screen.css">
    <link rel="manifest" href="manifest.json">
    <link rel="shortcut icon" type="image/png" href="/assets/images/logo.jpeg">
    <title>Medication Reminder</title>
</head>
<body>
<header>
    <h1>Medication Reminder</h1>
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button id="hamburger" type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="index">Home</a></li>
                    <li><a href="calendar.html">Calendar</a></li>
                    <li><a href="account.html">Account</a></li>
                    <li><a href="notifications.html">Notifications</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    <h2>Management</h2>
    <p>Manage your medication by adding, removing or editing the correct item</p>
    <ul>
        <%for (var i=0 ; i<drugs.length ; i++ ) {%>
            <li><a href="details.html"><%= drugs[i].name %></a></li>
        <%}%>
    </ul>
    <a href="newMedication" class="firstAction">Add +</a></main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>