<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Noto+Sans" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/screen.css">
    <link rel="stylesheet" href="assets/css/forms.css">
    <link rel="stylesheet" href="assets/css/screen_account.css">
    <link rel="manifest" href="manifest.json">
    <link rel="shortcut icon" type="image/png" href="assets/images/logo.jpeg">
    <link href="https://fonts.googleapis.com/css?family=Lato|Noto+Sans" rel="stylesheet">
    <title>Medication Reminder</title>
</head>
<body>
<header>
    <h1>Re:Medic</h1>
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button id="hamburger" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="index">Home</a></li>
                    <li><a href="calendar">Calendar</a></li>
                    <li><a href="accountDetails">Account</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
        <%if(locals.foutboodschap){%>
            <div class="alert alert-danger alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <%=foutboodschap%>
            </div>
        <%}else if(locals.infoboodschap){%>
            <div class="alert alert-info alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <%=infoboodschap%>
            </div>
        <%}%>
    <form action="getUser" method="post" id="login">
        <h2>Log in</h2>
        <label for="username">email-address:</label><input type="text" id="email" name="email" required="required" autofocus="autofocus">
        <label for="password">Password:</label><input type="password" id="password" name="password" required="required" autocomplete="off"  data-toggle="password" class="form-control login">
        <a href="#" data-for="login" class="showPwd">show/hide password</a>


        <input type="submit" value="log in" class="firstAction">
        <a href="#" id="registerLink">no account? Register now!</a>
    </form>
    <form action="addUser" method="post" id="register" class="inactive">
        <h2>New account</h2>
        <label for="">email-address:</label><input type="text" name="email" autocomplete="email" required="required" >
        <label for="">first name:</label><input type="text" name="firstname" autocomplete="given-name" required="required" >
        <label for="">last name:</label><input type="text" name="lastname" autocomplete="family-name" required="required" >
        <label for="">password:</label><input type="password" name="password" autocomplete="off" class="register" required="required" >
        <label for="">repeat password:</label><input type="password" name="password2" autocomplete="off" class="register" required="required" >
        <a href="#" data-for="register" class="showPwd">show/hide password</a>
        <label for="">birthday</label><input type="date" name="birthday" required="required" >
        <input type="submit" value="register" id="registerLink" class="firstAction">
        <a href="#" id="loginLink">Already an account? Log in now!</a>
    </form>
</main>


<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/script.js"></script>
<script src="assets/js/account.js"></script>
</body>
</html>