<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/screen.css">
    <link rel="stylesheet" href="assets/css/forms.css">
    <link rel="stylesheet" href="assets/css/screen_newMedication.css">
    <link rel="manifest" href="manifest.json">
    <link rel="shortcut icon" type="image/png" href="assets/images/logo.jpeg">
    <link href="https://fonts.googleapis.com/css?family=Lato|Noto+Sans" rel="stylesheet">
    <title>Medication Reminder</title>
</head>
<body>
<header>
    <h1>Re:Medic</h1>
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button id="hamburger" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="index">Home</a></li>
                    <li><a href="calendar">Calendar</a></li>
                    <li><a href="accountDetails">Account</a></li>
                    <li><a href="notifications.html">Notifications</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    <ul id="progressbar">
        <li class="active">medication name</li>
        <li>dose</li>
        <li>reminders</li>
    </ul>
    <h2>Add new medication</h2>
    <p>Fill in this form to add new medication and reminders.</p>
    <form action="addMedication" method="post">

        <fieldset id="firstscreen">
            <label for="name">Name:     </label>
            <input type="text" list="name" name="name"/>
            <datalist id="name" >
            </datalist>
            <a href="#" class="step2 navigateButton">next</a>
        </fieldset>
        <fieldset  class="inactive" id="secondscreen">
            <label for="dose">doses:    </label><input type="number" min="0" id="dose" name="dose">
            <select name="unit">
                <option value="capsule">Capsule</option>
                <option value="gram">Gram</option>
                <option value="milligram" selected>Milligram</option>
                <option value="milliliter">Milliliter</option>
                <option value="pill">Pill</option>
            </select>
            <hr>
            <a href="#" id="previous" class="step1 navigateButton">previous</a>
            <a href="#" class="step3 navigateButton">next</a>
        </fieldset>
        <fieldset class="inactive" id="thirdscreen">
            <h3>Days</h3>
            <input type="checkbox" id="Mo"><label for="Mo">Mo</label>
            <input type="checkbox" id="Tu"><label for="Tu">Tu</label>
            <input type="checkbox" id="We"><label for="We">We</label>
            <input type="checkbox" id="Th"><label for="Th">Th</label>
            <input type="checkbox" id="Fr"><label for="Fr">Fr</label>
            <input type="checkbox" id="Sa"><label for="Sa">Sa</label>
            <input type="checkbox" id="Su"><label for="Su">Su</label>
            <h3>Times</h3>
            <label>Minimal time between:    </label><input type="number" min="0" max="24" value="4" name="minTime" id="minTime">
            <label for="">hours</label>
            <div id="times">
                <h3>Notifications</h3>
                <input type="time" name="time1">
            </div>
            <a href="#" id="addTime" class="firstAction">new time</a>
            <hr>
            <a href="#" class="step2 navigateButton">previous</a>
            <input type="submit" value="add" class="navigateButton">
        </fieldset>
    </form>
</main>

<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/newmedication.js"></script>
</body>
</html>