main{
    display: flex;
    justify-content: space-between;
}
#calendar{
    max-width: 250px;
}
.firstAction{
    margin: 20px 0 0 0;
}
@media screen and (max-width: 500px) {
    main {
        display: inline-block;
    }
}

h2,h3{
    text-align: center;
}

body {
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
}

#calendar {
    max-width: 300px;
    margin: 20px auto 0;
}